@model BallotViewer.Web.Models.OfflineBallotViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">



@foreach (var b in Model.BallotsAggregated)
{
    <div class="row">
        <h1>Data</h1>
        <h2>Ballot</h2>
            
        <p>@Html.DisplayFor(a=>b.Ballot)</p>
        <h2>Meeting</h2>
    
    <p>@Html.DisplayFor(a => b.MeetingAggregated)</p>
        
        <h2>Agenda</h2>
        <p>@Html.DisplayFor(a => b.AgendaAggregated)</p>
        
    </div>
}
</div>

